@media (width>1440px) {
    .whiteboxcontent {
        width: 920px;
        height: 509px;
        display: grid;
        place-items: center;
        grid-template-areas: 'first second' ;
        margin-top: 50px;
    }
    .fdiv {
        grid-area: first;
    }
    .phrasescontent {
        margin-left:-550px; 
        margin-top: -200px;
        grid-area: second;
    }
    .hfmob {
        width: 0px;
    }
    .shadowmob {
        width: 0px;
    }
    .headphoto {
        margin-left: -480px;
        margin-top: -160px;
        position: absolute;
        background-image: url(/assets/desk/headdeskphoto.svg);
        width: 472px;
        height: 359px;
        background-repeat: no-repeat;
        z-index: 12;
    }
    .hpshadow {
        margin-top: 110px;
        background-image: url(/assets/desk/hpdeskshadow.svg);
        width: 950px;
        height: 568px;
        background-repeat: no-repeat;
    }
    .faqclass {
        margin-left: -215px;
    }
    .boxdot {
        position: absolute;
        display: block;
        margin-left: -945px;
        margin-top: -50px;
        z-index: 13;
    }
    .firstline {
        display: block;
        position: absolute;
        margin-left: -540px;
        margin-top: -395px;
        z-index: 0;
    }
    .secondline {
        display: block;
        position: absolute;
        margin-left: -540px;
        margin-top: -325px;
    }
}


@media (width>1920px){
    .whiteboxcontent {
        margin-top: 130px;
    }
}